.torrent-search--list__name {
        font-size: 13px;
        font-weight: 490;
        padding: 100px;
        line-height: 2;
}

.torrent-search--list__poster-img {
    width:44px;
    border-radius:0
}
